

.body {
    background-color: pink;
    border-width: 0cap;
}
.foot {
    color: black;
    border-color: black;
    border-width: 10px;
    width: auto;
    text-align: center;
    margin:auto;
    background-color: rgb(107, 1, 160);
    color: #fff;
}
.HEADER {
    font-style: italic;
    color: rgb(244, 248, 244);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 30px;

}
.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0 100px; 
    position: inherit;
    left: 50%;
    right: 50%;
    bottom: 10px;
    transform: translateX(10%);
}
.navigation a {
    margin-right: 10px;
}
.nav{
background-color: cadetblue;
}
.navigation a:last-child {
    margin-right: 0;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.navigation a:hover {
    background-color: #555;
    text-align: justify;
}

