:root {
  --primary-color: #122db0;
  --color1: #ffd2aa;
  /* --color2: #6f1a51; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Home Page Styles */

.hero {
  /* background: url("/images/buddies.avif"); */
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("/images/buddies.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* .hero__content {
  padding: 21rem 2rem;
  text-align: center;
  color: var(--color1);
  font-weight: 900;
}

.hero__title {
  font-size: 3rem;
}

.hero__subtitle {
  font-size: 1.5rem;
  text-decoration: wavy;
  color: white;
  opacity: 0.8;
} */

.hero__content {
  padding: 21rem 2rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

.hero__title {
  font-size: 3rem;
  color: var(--primary-color);
}

.hero__subtitle {
  font-size: 1.5rem;
  opacity: 0.8;
  color: white;
  margin-bottom: 50px;
}

.hero__button {
  padding: 1.2rem 2rem;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  background-color: var(--color1);
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.hero__button:hover {
  opacity: 0.6;
  text-decoration: underline;
}

/* Authentication Forms */

.form-error {
  color: red;
}

.form-success {
  color: green;
}

/* Signup Page styles */

#signup-page {
  background-color: var(--primary-color);
  padding: 3.5rem 2.5rem;
}

.signup-page__container {
  background-color: white;
  border-radius: 60px;
}

.signup-page__content {
  padding: 2rem;
  display: flex;
  gap: 28px;
}
.signup-page__form-container {
  border: 2px solid yellow;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-page__image {
  flex: 1;
  border-radius: 60px;
  overflow: hidden;
}

.signup-page__image img {
  max-width: 100%;
  display: block;
}

.signup-page form {
  border: 2px solid red;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}
