:root {
  --primary-color: #122db0;
  --color1: #ffd2aa;
  /* --color2: #6f1a51; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Home Page Styles */

.hero {
  /* background: url("/images/buddies.avif"); */
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("/images/buddies.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* .hero__content {
  padding: 21rem 2rem;
  text-align: center;
  color: var(--color1);
  font-weight: 900;
}

.hero__title {
  font-size: 3rem;
}

.hero__subtitle {
  font-size: 1.5rem;
  text-decoration: wavy;
  color: white;
  opacity: 0.8;
} */

.hero__content {
  padding: 21rem 2rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

.hero__title {
  font-size: 3rem;
  color: var(--primary-color);
}

.hero__subtitle {
  font-size: 1.5rem;
  opacity: 0.8;
  color: white;
  margin-bottom: 50px;
}

.hero__button {
  padding: 1.2rem 2rem;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  background-color: var(--color1);
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.hero__button:hover {
  opacity: 0.6;
  text-decoration: underline;
}

/* Authentication Forms */

.form-error {
  color: red;
}

.form-success {
  color: green;
}

/* Signup Page styles */

#signup-page {
  background-color: var(--primary-color);
  padding: 3.5rem 2.5rem;
}

.signup-page__container {
  background-color: white;
  border-radius: 60px;
}

.signup-page__content {
  padding: 2rem;
  display: flex;
  gap: 28px;
}
.signup-page__form-container {
  border: 2px solid yellow;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-page__image {
  flex: 1;
  border-radius: 60px;
  overflow: hidden;
}

.signup-page__image img {
  max-width: 100%;
  display: block;
}

.signup-page form {
  border: 2px solid red;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

/* POTENTIAL BUDDIES */

.container {
  width: 80%;
  margin: 0 auto;
}

.potential-buddies-header {
  margin-block: 23px;
  text-align: center;
}

/* CSS styling for potential buddies */
/* CSS styling for potential buddies */
.potential-buddies-container {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

/* For smaller screens, show 1 card per row */
@media screen and (max-width: 767px) {
  .potential-buddies-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.buddy-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.buddy-card:hover {
  transform: translateY(-5px);
}

.buddy-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.buddy-card-infos {
  padding: 15px;
}

.buddy-card h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.buddy-card p {
  margin: 8px 0 0;
  font-size: 14px;
  color: #666;
}
