:root {
  --primary-color: #122db0;
  --color1: #ffd2aa;
  --danger: red;
  /* --color2: #6f1a51; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.form-error {
  color: red;
  margin-block: 0;
  padding: 0;
}

.form-success {
  color: green;
  margin-block: 0;
  padding: 0;
}

#login-page {
  /* background-color: var(--primary-color); */
  background-image: url("/images/form-bg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.5rem 2rem;
}

.login__container {
  background-color: white;
  height: 815px;
  border-radius: 50px;
  padding: 1.5rem 1.5rem;
  overflow: hidden;
}

#login-page h3,
p {
  text-align: center;
}

#login-page h3 {
  margin-top: 1rem;
  font-size: 2rem;
}

#login-page p {
  font-size: 0.9rem;
}

.login__content-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__content-detail img {
  height: auto;
  width: 90px;
  margin: 0 auto;
  border: 1px dotted var(--primary-color);
}

.login__content-bg {
  display: none;
  max-width: 100%;
}

.login__content form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login__content form input,
.login__content form button {
  padding: 12px 16px;
  border-radius: 28px;
}

.login__content form input {
  border: 1px solid var(--primary-color);
}

.login__content form button {
  margin-block: 1rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.login__content form button:hover,
.login__content form button:focus {
  opacity: 0.7;
  border-color: var(--primary-color);
}

.logout-btn:hover,
.logout-btn:focus {
  opacity: 0.7;
  border-color: var(--danger);
}

.login__content a {
  text-align: center;
}

.input-with-person-icon,
.input-with-email-icon,
.input-with-password-icon {
  background-position: right 10px center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.input-with-person-icon {
  background-image: url("/images//icons/person.png");
}

.input-with-email-icon {
  background-image: url("/images//icons/mail.png");
}

.input-with-password-icon {
  background-image: url("/images//icons/visibility_off.png");
}

.hr-line {
  margin-top: 20px;
}

/*  Media Queries */

@media (min-width: 800px) {
  #login-page h3 {
    font-size: 2.5rem;
  }

  #login-page p {
    font-size: 1rem;
  }

  #login-page {
    background-image: none;
    background-color: var(--primary-color);
    padding: 4rem 4rem;
  }

  .login__container {
    padding: 1rem;
  }

  .login__content {
    display: flex;
    gap: 60px;
  }

  .login__content-detail {
    flex: 1;
    align-self: flex-start;
    padding-block: 8rem;
  }

  .login__content form {
    padding-inline: 8rem;
  }

  .login__content-bg {
    display: block;
    flex: 1;
    border-radius: 40px;
    background-image: url("/images/friends.avif");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .login__content-bg {
    border: 1px solid red;
  } */

  /* .login__content-bg {
    display: block;
  } */
}
