body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: aliceblue;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px 20px;
  background-color: whitesmoke;
}

.profile {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.profile-picture img {
  width: 250px;
  height: 250px;
  /* border-radius: 50%; */
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-info h2 {
  margin-bottom: 10px;
}

.profile-info p {
  margin-bottom: 5px;
}

.profile-actions {
  text-align: center;
}

#buddies-btn {
  background-color: purple;
}

#manage-profile-btn {
  background-color: blue;
}

#back-btn {
  background-color: black;
}

#buddies-btn:hover,
#manage-profile-btn:hover,
#back-btn:hover {
  opacity: 0.7;
}

.profile-actions button {
  padding: 10px 20px;
  margin: 0 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-actions button:hover {
  opacity: 0.7;
}

.posts {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts h2 {
  margin-bottom: 20px;
}

.post {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.post h3 {
  margin-bottom: 10px;
}

a.button {
  display: inline-block;
  padding: 7px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

a.button:hover {
  background-color: #0056b3;
}

a.button:active {
  background-color: #003d7a;
}

body {
  background-image: linear-gradient(to right, blue, rgb(70, 146, 176));
}

footer {
  background-color: aliceblue;
}


.profile-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  
}

.profile-actions img {
  width: 50px;
  height: 50px;
  
}
.rating-box{
  padding-top: 20px;
}

.rating-box{
  padding-top: 20px;
  color: #007bff;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}

.rating input {
  display: none;
}


.rating label {
  display: inline-block;
  padding: 5px;
  font-size: 25px;
  color: dimgray;
  cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: #ffc107;
}

.rating-box h2{
  text-align: center;
  
}



